.root {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(83,83,110,1) 35%, rgba(0,255,236,1) 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 10px;
  font-size: 28px;
}

.header {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#input{
  border-radius: 5px;
  border: none;
  border-collapse: collapse;
  outline: none;
  background-color: rgba(0,255,236,1);
  height: 44px;
  font-size: 40px;
  width: 80%;
}
